:root {
  --huan-bg-color: white;
  --huan-text-color: black;
  --huan-text-color2: #515054;
  --huan-border-color: #e5e7eb;
  --huan-modal-bg-color: rgba(0, 0, 0, 0.3);

  --huan-loading-bar-color: #ffcc33;
  --huan-loading-bg-color: rgba(0, 0, 0, 0.05);
  --huan-loading-ball-color: radial-gradient(at 30% 30%, #0000, rgba(104, 104, 104, 0.667))
    rgb(173, 112, 230);
  --swiper-theme-color: rgb(24, 24, 24) !important;
  --swiper-navigation-size: 30px !important;
  --huan-footer-background: #cfcfcf;
  --huan-footer-icon-wrap-background: #e5e7eb;

  %Neumorphism {
    box-shadow:
      5px 5px 10px #d1d1d1,
      -5px -5px 10px #ffffff;
    &:hover {
      // background: linear-gradient(145deg, #ffffff, #e6e6e6);
      box-shadow:
        20px 20px 40px #d1d1d1,
        -20px -20px 40px #ffffff;
      transform: scale(1.05);
    }
  }
}

html[data-theme='dark'] {
  --huan-bg-color: rgb(24, 24, 24);
  --huan-text-color: rgb(230, 230, 230);
  --huan-text-color2: #d4d4d4;
  --huan-border-color: #525558;
  --huan-modal-bg-color: rgba(255, 255, 255, 0.3);

  --huan-loading-bar-color: #ccaa33;
  --huan-loading-bg-color: rgba(255, 255, 255, 0.05);
  --huan-loading-ball-color: radial-gradient(at 30% 30%, #0000, rgba(104, 104, 104, 0.667)) yellow;
  --swiper-theme-color: white !important;
  --huan-footer-background: black;
  --huan-footer-icon-wrap-background: rgba(255, 255, 255, 0.05);

  %Neumorphism {
    box-shadow:
      5px 5px 10px #101010,
      -5px -5px 10px #202020;
    &:hover {
      background: linear-gradient(145deg, #1a1a1a, #161616);
      box-shadow:
        20px 20px 40px #101010,
        -20px -20px 40px #202020;
      transform: scale(1.05);
    }
  }
}

html,
body {
  height: 100%;
  background-color: $bg-color;
  @include scroll;
  transition: 0.3s;

  header {
    transition: 0.3s;
  }
  .myContainer {
    // max-width: 2000px;
    // margin: auto;
    padding: 96px 22rem 1.5rem 22rem;

    @include xxxl {
      padding: 88px 18rem 1rem 18rem;
    }

    @include xxl {
      padding: 88px 14rem 1rem 14rem;
    }

    @include xl {
      padding: 88px 10rem 1rem 10rem;
    }

    @include md {
      padding: 88px 2.5rem 1rem 2.5rem;
    }

    @include sm {
      padding: 88px 1rem 1rem 1rem;
    }

    @include xs {
      padding: 80px 0.5rem 0.5rem 0.5rem;
    }
  }

  .n-image-preview-container,
  .n-drawer-container,
  .n-modal-container,
  .n-message-container,
  .v-binder-follower-container,
  .n-loading-bar-container {
    z-index: 10000 !important;
  }

  .n-modal-container {
    .n-button--warning-type {
      background-color: var(--n-color);
    }
  }

  .n-loading-bar-container {
    .n-loading-bar {
      --n-color-loading: #2080f0 !important;
    }
  }
}

.loadingMask-enter-active,
.loadingMask-leave-active {
  transition: all 1s ease;
}

.loadingMask-enter-from,
.loadingMask-leave-to {
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition: all 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

@keyframes showEffect {
  100% {
    opacity: 1;
  }
}

%AshowEffect {
  opacity: 0;
  animation: showEffect 0.5s linear forwards;
}
