// Breakpoint 可新增，新增後到 mixins 資料夾設定
$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;
$breakpoint-xxxxl: 1800px;

$bg-color: var(--huan-bg-color);
$border-color: var(--huan-border-color);
$text-color: var(--huan-text-color);
$text-color2: var(--huan-text-color2);
$modal-bg-color: var(--huan-modal-bg-color);
$loading-bar-color: var(--huan-loading-bar-color);
$loading-bg-color: var(--huan-loading-bg-color);
$loading-ball-color: var(--huan-loading-ball-color);
$footer-bg-color: var(--huan-footer-background);
$footer-icon-wrap-bg-color: var(--huan-footer-icon-wrap-background);

$info: #2080f0;

$success: #18a058;

$warning: #f0a020;

$error: #d03050;
